<nav>
    <a href="/" class="{{nav.home}}">首页</a>
    <a href="/record" class="{{nav.record}}">记事本</a>
    <a href="/vacations" class="{{nav.tour}}">旅行产品</a>
    <a href="/newsletter" class="{{nav.newsletter}}">订阅</a>
    <a href="/contest/vacation-photo" class="{{nav.vacationPhoto}}">上传图片</a>
    <a href="http://api.localhost:3000/attraction" class="{{nav.attraction}}">api</a>
    <a href="/about" class="{{nav.about}}">关于我们</a>
</nav>